.fade-enter-active {
  transition: transform 3s;
}
.fade-leave-active {
  transition: transform 0.5s;
  opacity: 0.5;
  /* transform: translateY(-300px); */
}
.fade-enter {
  transition: transform 3s;
}
.fade-leave-to {
  transform: translate3d(-500px, -300px 400px);
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #333;
  --red: red;
  --red-dark: #000;
  --red-light: #fff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  overscroll-behavior-y: none;
}

nav {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 5;
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--white);
}

main.flex {
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

section.image {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
}

.image-src {
  height: 100vh;
}

.image-section {
  position: relative;
}

.image-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--red);
  background-blend-mode: multiply;
  position: relative;
}

.image-copy {
  display: block;
  z-index: 10;
  width: max-content;
  font-size: 0.875rem;
  font-weight: 300;
  bottom: 1rem;
  position: absolute;
  right: 1rem;
  background: var(--red);
  padding: 1rem 1rem;
  opacity: 0;
  max-width: calc(100% - 4rem);
  transition: opacity 0.3s ease;
}

.image-caption {
  font-family: "IBM Plex Sans";
  font-weight: 600;
}

.image-src:hover + .image-copy {
  opacity: 1;
}

.image-bg:hover .image-copy {
  opacity: 1;
}

.image-aside {
  padding: 6rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.text-bottom .image-aside {
  justify-content: flex-end;
}

.text-top .image-aside {
  justify-content: flex-start;
}

.text-center .image-aside {
  padding: 6rem 4rem 4rem 4rem;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 70%;
  color: var(--white);
  text-align: left;
}

.image-text {
  font-family: "IBM Plex Mono";
  font-weight: 300;
  /* font-size: 1.5rem; */
  font-size: clamp(0.5rem, 10vw, 1.5rem);
  line-height: 140%;
  position: relative;
  margin-bottom: 2rem;
}

.text-center .image-text {
  line-height: 110%;
  /* font-size: 3rem; */
  font-size: clamp(1rem, 10vw, 3rem);
  font-weight: 300;
}

.image-text::before {
  content: "";
  width: 4rem;
  height: 0.25rem;
  background-color: var(--red);
  position: absolute;
  top: -1rem;
}

.text-center .image-text::before {
  content: none;
}

.btn {
  margin-top: 1rem;
}
